@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-gray-50);
    color: var(--color-slate-900);
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .phi-symbol {
    font-family: serif;
    font-style: italic;
    font-weight: bold;
  }
}
